$color-error: #FF0000;
$color-notice: #047BC1;
$color-background-grey: #e7e7e7;

$color-grey-softer: #EFF6FB;
$color-grey-soft: #e6e6e6;
$color-grey-light: #F2FAFD;
$color-grey: #CCD5DB;
$color-grey-dark: #666666;
$color-grey-darker: #979797;
$color-grey-blue: #c6dff1;
$color-silver-dark: #e7e7e7;
$color-silver: #CCC;
$color-blue-soft: #75b1dc;
$color-blue-light: #047BC1;
$color-blue: #0A324E;
$color-blue-dark: #002B49;
$color-blue-darker: #0c2b49;
$color-black: #000000;
$color-black-light: #53565A;
$color-black-dark: #333;
$color-yellow: #e3e38d;
$color-yellow-light: #FBFBE1;

$color-white: #FFF;