@import '../../assets/scss/variables/variables';

.menu {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  &--langs {
    height: auto;
    flex-basis: 100%;
    background-color: $color-blue;
    font-size: 0.9rem;
    text-align: center;
    > .row {
      justify-content: flex-end
    }
    @media only screen and (max-width: $_BREAKPOINT_MOBILE) {
      .row {
        width: 100%;
      }
    }
    .top-bar-right {
      @media (max-width: $_BREAKPOINT_MOBILE) {
        display: none;
      }

      flex-grow: 1;
      display: flex;
      @media only screen and (max-width: $_BREAKPOINT_MOBILE) {
        justify-content: flex-end;
        max-width: 100%!important;
      }
      flex-wrap: wrap;
      padding: 10px;
      @media only screen and (max-width: $_BREAKPOINT_MOBILE - 19em) {
        justify-content: center;
        > * {
          &:not(:last-child) {
            padding-bottom: 10px;
          }
        }
      }
      form {
        display: flex;
        padding-right: 10px;
        min-width:250px;
        input[type="text"] {
          font-size: 12px;
          max-height: 27px;
          min-width: 15%;
        }
        button[type="submit"] {
          padding-left: 5px;
          background: transparent;
          border: 0px;
          color: $color-white;
        }
      }
      .login-block {
        display: none;
        color: $color-white;
        align-self: center;
      }
    }
    .langs-list {
      list-style: none;
      margin: 10px auto;
      text-align: center;
      li {
        &.active {
          text-decoration: underline;
        }
        &:not(.active) {
          text-decoration: line-through;
        }
        color: $color-silver;
        display: inline;
        padding: 0 10px;
      }
    }
  }
}
.navicon {
  color: rgba(0, 43, 73, 0.5);
}
.title-bar {
  width: 100%;
  background-color: $color-white;
  color: $color-black;
  padding: 5px 10px 5px 5px;
  .brand {
    @media (max-width: $_BREAKPOINT_MOBILE) {
      padding: 10px;
    }
    a {
      padding: 0;
    }
    img {
      width: 220px;
      height: auto;
      max-width: 220px;
      @media (max-width: 250px) {
        width: 150px;
        max-width: 150px;
      }
    }
  }
  > div {
    &:not(:first-child) {
      text-align: right;
    }
  }
}
.top-bar {
  width: 100vw;
  display: block;
  background-color: $color-white;
  border-bottom: 1px $color-silver solid;
  padding: 0;
  .row {
    margin: 0 auto;
    width: 96%;
    max-width: 989px;
    min-height: 60px;
  }
  img {
    position: relative;
    top: 0;
  }
  ul {
   background-color: $color-white;
   display: block;
   @media(min-width: $_BREAKPOINT_MOBILE) {
    display: flex;
    align-items: flex-end;
   }
   li {
    text-align: center;
    display: inline-block;
    padding: 0 18px 0rem;
    &:first-child {
      padding-left: 0;
    }
    margin: 0;
    &:not(.menu-text) {
      padding-top: 0;
      padding-bottom: 0;
      vertical-align: middle;
    }
    a {
      font-size: 0.9rem;
      font-weight: 500;
      &.blue {
        color: $color-blue-light;
      }
    }
    @media (max-width: 960px) {
      margin: 0;
      padding: 0 10px 0rem;
      > a {
        font-size: 0.8rem;
      }
    }
    ul {
      background: white;
      text-transform: none;
      border-radius: 0 0 1px 1px;
      box-shadow: 0 2px 2px rgba(0,0,0,0.15);
      margin-top: 21px;
      border: 0;
      padding: 0;
      li {
        padding: 0 10px 0 0;
        &:hover {
          background: rgba(0,0,0,0.05);
        }
        a {
          font-weight: 500;
          color: $color-black-dark;
          font-family: helvetica, arial, sans-serif;
          display: block;
          padding: 12px 0 10px 20px;
          transition: color 0.2s, background 0.1s;
          padding: 10px 15px 10px;
          text-align: left;
        }
      }
    }
   }
  }
}
.dropdown.menu {
  box-shadow: none;
  padding: 15px 0;
  > li {
    flex-basis: 0;
    vertical-align: middle;
    position: relative;
    span {
      display: block;
    }
    @media only screen and (max-width: $_BREAKPOINT_MOBILE) {
      margin: 10px 0!important;
      padding: 0.7rem 13px 0rem !important;
      width: 100%;
      display: block;
      ul {
        box-shadow: inset 0 2px 6px rgba(0,0,0,0.2)  !important;
        width: 100vw!important;
        margin-left: -20px !important;
        position: relative!important;
        li {
          text-align: center;
          padding: 10px 0!important;
          a {
            display: inline!important;
          }
        }
      }
      span {
        display: inline;
      }
    }
    &.brand {
      align-self: center;
      flex-basis: initial;
      margin-left: 0;
      @media(min-width: 690px) {
        padding-right: 42px;
      }
      a {
        font-weight: normal;
        font-size:  1.5rem;
        padding: 0;
        margin: 0;
        img {
          width: 220px;
          height: auto;
          @media (min-width: $_BREAKPOINT_MOBILE) and (max-width: 850px) {
            width: 160px;
            max-width: 160px;
            height: auto;
          }
        }
        span {
          @media only screen and (max-width: $_BREAKPOINT_MOBILE + 20em) {
            display: none;
          }
          display: inline-block;
          vertical-align: middle;
          padding-left: 20px;
        }
        @media only screen and (max-width: $_BREAKPOINT_MOBILE + 20em) {
          font-size: 1.0rem;
        }
      }
    }
    text-transform: uppercase;
    display: flex;
    text-align: center;
    @media only screen and (max-width: $_BREAKPOINT_MOBILE) {
      text-align: left;
      padding: 10px 10px;
    }
    margin: 0 2%;
    > a {
      font-weight: normal;
      align-self: flex-end;
      padding: 0;
      line-height: 17px;
      font-size: 1rem;
      color: $color-black-dark;
      &:after {
        display: none;
      }
    }
    ul {
      display: none;
    }
    &.is-active {
      ul {
        display: block;
      }
    }
  }
}

.submenu {
  list-style: none;
  width: 100%;
  box-shadow: inset 0 2px 6px rgba(0,0,0,0.2);
  margin: 0;
  text-align: center;
  li {
    padding: 7px 0;
    font-size: 0.90rem;
    color: $color-black-dark;
  }
}
.mobile-submenu {
  display: block;
  color: rgba(0,43,73,0.5);
  position: absolute;
  top: 0px;
  right: 5px;
  padding: 7px;
  cursor: pointer;
  background: #eee;
  border-radius: 2px;
}