<div class="menu">
  <div class="menu--langs">
    <div class="row">
      <div class="medium-12 hide-for-small-only">
        <ul class="langs-list">
          <li>简体中文</li>
          <li class="active">English</li>
          <li>Français</li>
          <li>Русский</li>
          <li>Español</li>
          <li>العربية</li>
          <li>Portuguese</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
    <div class="small-6 brand">
        <a [routerLink]="['/']">
          <img src="../../assets/images/icann-lookup-logo.png" />
        </a>
    </div>
    <div class="small-6">
        <i class="navicon fa fa-bars fa-lg" data-toggle="main-menu"></i>
    </div>
    </div>
    <div class="top-bar" id="main-menu" data-dropdown-menu>
      <div class="row">
        <div class="small-12 columns">
          <div class="top-bar-left">
            <ul class="dropdown menu">
              <li class="menu-text brand hide-for-small-only">
                <a [routerLink]="['/']">
                  <img src="../../assets/images/icann-lookup-logo.png" />
                </a>
              </li>
              <li>
                <a href="https://whois.icann.org/en/about-whois">about whois</a>
              </li>
              <li>
                <a href="https://whois.icann.org/en/policies">policies</a>
              </li>
              <li>
                <a href="https://whois.icann.org/en/get-involved"> get involved </a>
              </li>
              <li>
                <a href="https://whois.icann.org/en/whois-complaints">whois complaints</a>
              </li>
              <li>
                <a href="https://whois.icann.org/en/knowledge-center">knowledge center</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

</div>
