<div class="footer">
  <div class="footer--social">
    <div class="row">
      <div class="footer--social--links">
        <a href="http://www.youtube.com/icannnews" target="_blank"> <i class="fab fa-youtube"></i> Youtube </a>
        <a href="https://www.twitter.com/icann" target="_blank"> <i class="fab fa-twitter"></i> Twitter </a>
        <a href="https://www.linkedin.com/company/icann" target="_blank"> <i class="fab fa-linkedin"></i> Linkedin </a>
        <a href="http://www.flickr.com/photos/icann" target="_blank"> <i class="fab fa-flickr"></i> Flickr </a>
        <a href="http://www.facebook.com/icannorg" target="_blank"> <i class="fab fa-facebook"></i> Facebook </a>
        <a href="https://www.icann.org/resources/pages/global-newsletter-2018" target="_blank"> <i class="fas fa-envelope"></i> Newletters </a>
        <a href="https://community.icann.org/" target="_blank"> <i class="fas fa-user"></i> Community Wiki </a>
        <a href="https://www.icann.org/news/blog" target="_blank"> <i class="fas fa-pencil-alt"></i> ICANN Blog </a>
      </div>
    </div>
  </div>
  <div class="footer--links">
    <div class="row">
      <div>
        <span class="title"> Who We Are </span>
        <ul class="hide-for-small-only">
          <li> <a href="https://www.icann.org/get-started">Get started</a> </li>
          <li> <a href="https://www.icann.org/en/about/learning">Learning</a> </li>
          <li> <a href="https://www.icann.org/en/about/participate">Participate</a> </li>
          <li> <a href="https://www.icann.org/resources/pages/groups-2012-02-06-en">Groups</a> </li>
          <li> <a href="https://www.icann.org/resources/pages/board-of-directors-2014-03-19-en">Boards</a> </li>
          <li> <a href="https://www.icann.org/presidents-corner">President's Corner</a> </li>
          <li> <a href="https://www.icann.org/organization">Staff</a> </li>
          <li> <a href="https://www.icann.org/dprd">Public Responsability</a> </li>
        </ul>
      </div>
      <div>
      <span class="title"> Contact Us</span>
      <ul class="hide-for-small-only">
          <li> <a href="https://forms.icann.org/en/contact">Locations</a> </li>
          <li> <a href="https://www.icann.org/resources/pages/customer-support-2015-06-22-en">Global Support</a> </li>
          <li> <a href="https://www.icann.org/resources/pages/report-security-issues-2018-05-24-en">Report Security Issues</a> </li>
          <li> <a href="https://www.icann.org/en/contact/pgp-keys">PGP Keys</a> </li>
          <li> <a href="https://www.icann.org/contact/certificate-authority">Certificate Authority</a> </li>
          <li> <a href="https://www.icann.org/resources/pages/contact-f2-2012-02-25-en">Registry Liaison</a></li>
          <li> <a href="https://forms.icann.org/en/about/aoc-review/contact">Specific Reviews</a> </li>
          <li> <a href="https://forms.icann.org/en/groups/reviews/contact">Organizational Reviews</a> </li>
          <li> <a href="https://www.icann.org/complaints-office">Complaints Office</a> </li>
          <li> <a href="https://forms.icann.org/en/contact/speakers">Request a Speaker</a> </li>
          <li> <a href="https://www.icann.org/en/news/press">For Journalists</a> </li>
        </ul>
      </div>

        <div>
          <span class="title"> Accountability &  Transparency</span>
          <ul class="hide-for-small-only">
            <li> <a href="https://www.icann.org/en/news/in-focus/accountability/mechanisms">Accountability Mechanisms</a> </li>
            <li> <a href="https://www.icann.org/resources/pages/irp-2012-02-25-en">Independent Review Process</a> </li>
            <li> <a href="https://www.icann.org/groups/board/governance/reconsideration">Request for Reconsideration</a> </li>
            <li> <a href="https://www.icann.org/help/ombudsman">Ombudsman</a> </li>
            <li> <a href="https://www.icann.org/ec">Empowered Community</a> </li>
          </ul>
        </div>
        <div>
          <span class="title"> Governance</span>
          <ul class="hide-for-small-only">
            <li> <a href="https://www.icann.org/en/about/governance">Documents</a> </li>
            <li> <a href="https://www.icann.org/en/about/agreements">Agreements</a> </li>
            <li> <a href="https://www.icann.org/resources/reviews/aoc">Specific Reviews</a> </li>
            <li> <a href="https://www.icann.org/about/annual-report">Annual Report</a> </li>
            <li> <a href="https://www.icann.org/en/about/financials">Financials</a> </li>
            <li> <a href="https://www.icann.org/en/about/transparency">Document Disclosure</a> </li>
            <li> <a href="https://www.icann.org/en/about/planning">Planning</a> </li>
            <li> <a href="https://www.icann.org/accountability-indicators">Accountability Indicators</a> </li>
            <li> <a href="https://www.icann.org/en/news/rfps">RFPs</a> </li>
            <li> <a href="https://www.icann.org/en/news/litigation">Litigation</a> </li>
            <li> <a href="https://www.icann.org/en/news/correspondence">Correspondence</a> </li>
          </ul>
        </div>
        <div>
          <span class="title">Help</span>
          <ul class="hide-for-small-only">
            <li> <a href="https://www.icann.org/en/help/dispute-resolution">Dispute Resolution</a> </li>
            <li> <a href="https://www.icann.org/en/help/dndr">Domain Name<br>Dispute Resolution </a> </li>
            <li> <a href="https://www.icann.org/en/help/name-collision">Name Collision</a> </li>
            <li> <a href="https://www.icann.org/en/news/announcements/announcement-06mar07-en.htm">Registrar Problems</a> </li>
            <li> <a href="https://whois.icann.org/en">WHOIS</a> </li>
          </ul>
        </div>
        <div>
            <span class="title">Data Protection</span>
          <ul class="hide-for-small-only">
            <li> <a href="https://www.icann.org/privacy">Data Privacy<br>Practices</a> </li>
            <li> <a href="https://www.icann.org/privacy/policy">Privacy Policy</a> </li>
            <li> <a href="https://www.icann.org/privacy/tos">Terms of Service</a> </li>
            <li> <a href="https://www.icann.org/privacy/cookies">Cookies Policy</a> </li>
          </ul>
        </div>
    </div>
  </div>

  <div class="footer--copyright">
    <div class="row">
      <div>
          &copy; 2019 Internet Corporation for Assigned Names and Numbers.
          <div class="links">
            <a href="https://www.icann.org/privacy/policy" class="links--link">Privacy Policy</a>&nbsp;
            <a href="https://www.icann.org/privacy/tos" class="links--link">Terms of Service</a>&nbsp;
            <a href="https://www.icann.org/privacy/cookies" class="links--link">Cookies Policy</a>&nbsp;
          </div>
      </div>
    </div>
  </div>
</div>