@use '../../assets/scss/variables/variables' as cs_variables;


.domain-lookup {

  margin-bottom: 30px;

  h1 {
    padding: 40px 0 11px;
    color: cs_variables.$color-blue-dark;
    font-size: 24px;
    font-weight: bold;
  }

  .search-form {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto 5px;
  }
}

.break-soft {
  word-break: break-word;
}

.raw-response {
  .panel-header {
    padding: 0 24px 0 9px;
  }
}