@import '../../assets/scss/variables/variables';

.acronym {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0;
  box-shadow: 0 -1px 3px rgba(0,0,0,0.05);
  background: $color-yellow-light;
  border-top: 1px solid $color-yellow;
  line-height: 1.6;
  font-weight: 400;
  overflow: hidden;
  z-index: 9999;
  -webkit-transition: opacity 0.2s, max-height 0 0.2s, padding 0 0.2s;
  -moz-transition: opacity 0.2s, max-height 0 0.2s, padding 0 0.2s;
  transition: opacity 0.2s, max-height 0 0.2s, padding 0 0.2s;
  &--title {
    font-weight: bold;
    font-size: 14px;
    margin: 0 0 7px;
    > .glossary-name {
      font-weight: normal;
    }
  }
  &--definition {
    font-size: 12px;
    margin: 10px 0 0;
    ul {
      padding-top: 15px;
    }
  }
}