<div class="home-lookup">
  <div class="row">
    <div class="small-12 columns home-lookup--form">
      <h1>
        <abbr (mouseout)='acronymService.setAcronym(null)' (mouseover)='acronymService.setAcronym("Domain Name Registration")'>Domain Name Registration</abbr>
        Data Lookup
      </h1>

      <rwc-domain-form [isRedirectedResponse]="true" [touAnchorLink]="true"></rwc-domain-form>
    </div>
  </div>
</div>
<div class="row lookup-tool-informations">
  <div class="small-12 columns">
      <div class="lookup-tool-informations--title">
        About ICANN’s Domain Name Registration Data Lookup
      </div>
      <p>
        This tool gives you the ability to look up the registration data for domain names. <br>
        More information about this tool and how it works can be found here: <a [routerLink]="['/faq']">{{ websiteUrl }}/faq</a>.
      </p>
      <span class="spacer"></span>
      <h4 class="underline" id="domaintou">DOMAIN NAME REGISTRATION DATA LOOKUP TERMS OF USE</h4>
      <p class="text-justify">
          The Domain Name Registration Data Lookup conducts Registration Data Access Protocol (RDAP) queries.
          <a href="https://www.icann.org/rdap" target="_blank">​RDAP</a>
          enables users to access current registration data and was created as an eventual replacement for the WHOIS protocol.
          The results displayed come directly from <abbr (mouseout)='acronymService.setAcronym(null)' (mouseover)='acronymService.setAcronym("Registry Operators")'>registry operators</abbr> and/or
          <abbr (mouseout)='acronymService.setAcronym(null)' (mouseover)='acronymService.setAcronym("Registrars")'>registrars</abbr> in real-time.
          ICANN does not generate, collect, retain, or store any data associated with an RDAP compliant lookup.
      </p>
      <p class="text-justify">
        The Domain Name Registration Data lookup results are shown to help users obtain information about domain name registration records, and for no other purpose.
        Users agree to use this data only for lawful purposes in accordance with the ICANN <a href="https://www.icann.org/privacy/policy" target="_blank">Privacy Policy</a>
        and the website <a href="https://www.icann.org/privacy/tos" target='_blank'>Terms of Service</a>. ICANN reserves the right to restrict or terminate your access to the data and/or
        the Domain Name Registration Data Lookup if you fail to abide by these Terms of Use.

        ICANN reserves the right to change these Terms of Use at any time. Any changes we make will be posted on this page. By submitting a query, users agree to abide by these Terms of Use.
      </p>
  </div>
</div>